<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Community Events</title>
    <li><a href="/">Home</a></li>
  </head>
  <body>
    <div class="container">
      <h1>Community Events</h1>
      <div class="events-list" id="eventsList"></div>
    </div>
    <ul>
      <% eventData.forEach(item => { %>
      <li>Name: <%= item.eventname %></li>
      <li>Date: <%= item.eventdate %></li>
      <li>Location: <%= item.eventlocation %></li>
      <li>Time: <%= item.eventtime %></li>
      <li>Description: <%= item.eventdescription %></li>
      <li style="display: none;">EventId: <%= item.id%></li>
      <a href="/categories/events/<%= item.id %>/reviews">View Reviews</a>
      <li>
        <form action="/categories/events/delete" method="post">
          <input type="hidden" name="eventId" value="<%= item.id %>" />
          <button type="submit">Delete</button>
        </form>
      </li>
      <% }); %>
    </ul>

    <form id="eventForm" method="post" action="/categories/events">
      <input
        type="text"
        id="eventName"
        name="eventName"
        placeholder="Event Name"
        required
      />
      <input type="date" id="Eventdate" name="Eventdate" required />
      <input
        type="text"
        id="eventLocation"
        name="eventLocation"
        placeholder="Event Location"
        required
      />
      <input type="time" id="Eventtime" name="Eventtime" required />
      <textarea
        id="eventDescription"
        name="eventDescription"
        placeholder="Event Description"
        required
      ></textarea>
      <button type="submit">Create Event</button>
    </form>
  </body>
</html>
