<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Community News</title>
    <link rel="stylesheet" href="../Team13-Agile/public/css/news.css" />
  </head>
  <body>
    <div class="container">
      <h1>Community News</h1>
      <form id="newsForm" method="post" action="/categories/news">
        <input type="text" id="Title" name="Title" required />
        <input type="text" id="Region" name="Region" required />
        <textarea id="Description" name="Description" required></textarea>
        <button type="submit">Create News</button>
      </form>
      <div class="news-list" id="newsList"></div>
    </div>
    <ul>
      <% newsData.forEach(item => { %>
      <li>Title: <%= item.title %></li>
      <li>Region: <%= item.region %></li>
      <li>Description: <%= item.description %></li>
      <li>NewsId: <%= item.id%></li>
      <li>
        <form action="/categories/news/delete" method="post">
          <input type="hidden" name="newsId" value="<%= item.id %>">
          <button type="submit">Delete</button>
      </form>
      </li>

      <% }); %>
    </ul>

    <script src="scripts.js"></script>
  </body>
</html>
