<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/ejn.css">
    <title>Community News</title>
    <li><a href="/">Home</a></li>
  </head>
  <body>
    <div class="container">
      <h1>Community News</h1>
      <form id="newsForm" method="post" action="/categories/news">
        <input
          type="text"
          id="Title"
          name="Title"
          placeholder="Title"
          required
        />
        <input
          type="text"
          id="Region"
          name="Region"
          placeholder="Region"
          required
        />
        <textarea
          id="Description"
          name="Description"
          placeholder="Description"
          required
        ></textarea>
        <button type="submit">Create News</button>
      </form>
      <div class="news-list" id="newsList"></div>
    </div>
    <ul>
      <% newsData.forEach(item => { %>
      <li>Title: <%= item.title %></li>
      <li>Region: <%= item.region %></li>
      <li>Description: <%= item.description %></li>
      <li style="display: none">NewsId: <%= item.id%></li>
      <a href="/categories/news/<%= item.id %>/reviews">View Reviews</a>
      <li>
        <form action="/categories/news/delete" method="post">
          <input type="hidden" name="newsId" value="<%= item.id %>" />
          <button type="submit">Delete</button>
        </form>
      </li>

      <% }); %>
    </ul>
  </body>
</html>
